# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules/

# Monorepo subfolders
mindful-mentor-frontend/node_modules/
mindful-mentor-backend/node_modules/

# Builds
/dist
/build
**/dist
**/build

# Env files
.env
.env.local
**/.env
**/.env.local

# OS / Editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
